.container {
    max-width: 600px;
    margin: 0 auto;
}
h1 {
    color: brown;
}
button {
    padding: 10px 15px;
    border: none;
    color: #fff;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
}